@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-info">Welcome to Pi Mega Desk</h1>
    <hr>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quick Links
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/DeskQuotes/Create">Add Quote</a>
                <a class="dropdown-item" href="/DeskQuotes/Index">View Quote</a>
                <a class="dropdown-item" href="/DeskQuotes/Index">Search Quote</a>
            </div>
        </div>
         <img src="office.jpg" alt="Home Office"> 
    </div>
</div>
