@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center home-office">
    <h1 class="display-4">Welcome to Pi Mega Desk</h1>
    <hr>
    <div class="home-office">
        @* <img src="office.jpg" alt="Home Office"> *@
        <div class="inner-menu">
            <ul>
                <li><a href="">Add Quote</a></li>
                <li><a href="">View Quote</a></li>
                <li><a href="">Search Quote</a></li>
            </ul>
        </div>
    </div>
</div>
